root = true

# All files
[*]
end_of_line = crlf
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true

# CSharp files
[*.cs]
csharp_using_directive_placement = outside_namespace:warning

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_size = 2
